{% extends "layout.html" %}

{% block content %}
<!--Card-->
<div class="card panel-group panel" id="first-div" data-title="main_ccd_application">
    <!--Title-->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#input-panel">
                <span class="black-font">DNA sequence (Open Reading Frame - ORF)</span>
            </a>
        </h4>
    </div>
    <!--Card content-->
    <div class="card-block panel-collapse collapse in" id="input-panel">
        <!--Text-->
        <h5>Search by Uniprot accession number or entry name (e.g. Q15287 or RNPS1_HUMAN): </h5>
        <br>
        <div id="uniprot-id-search-alerts" class=""></div>
        <input id="search-id" type="text" autocomplete="off" placeholder="Uniprot ID or Accession" style="display: inline; width: 210px;">
        <input style="display: inline;" type="button" value="Search" onclick="search_uniprot()">
        <div style="display: block;">
	        <img src="{{ url_for('static', filename='img/bgLoad.gif') }}" style="display: none;" class="uniprot-search-progress-bar">
	        <img src="{{ url_for('static', filename='img/bgLoad.gif') }}" style="display: none;" class="uniprot-search-progress-bar">
        </div>
        <div id="uniprot-id-search-results" class=""></div>
        <br>
        <h5>Or paste DNA sequence:</h5>
        <div class="row">
            <div class="col-md-12">
                <textarea class="dna-orf" autocomplete="on" spellcheck="false" placeholder="DNA sequence area" id="dna-orf"></textarea>
            </div>
        </div>
        <div id="input-alerts"></div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" onclick="get_predictions()">Submit</button>
                <div class="btn-group">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prediction servers</button>
                    <div class="dropdown-menu" style="dispay: block;">
                        <a class="dropdown-item" onclick="select_all_serv()">Select all</a>
                        <a class="dropdown-item" onclick="deselect_all_serv()">Deselect all</a>
                        <div class="dropdown-divider"></div>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> HNN</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> MLR</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> DPM</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> PREDATOR</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> IUPRED</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> GLOBPLOT</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> SMART</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> COILS</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> NLS</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> PDB_95</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> PDB_50to95</label>
                        <label class="dropdown-item service-label">&nbsp;&nbsp;<input type="checkbox" class=""> PDB_30to50</label>
                    </div>
                </div>                    
                <form class="form-inline" action="" style="display: inline;">
                    <input style="display: inline;" type="button" value="Use example sequence" onclick="sample_sequence()">                    
                    <span> or upload a FASTA file</span>
                    <input type="file" style="display:inline;" id="file-seq" onchange="seq_file();">
                    <input style="display: inline;" type="button" value="Clear sequence area" onclick="clear_sequence()">
                </form>
            </div>    
        </div>
    </div>
    <!--/.Card content-->
</div>
<!--/.Card-->

<!--Card-->
<div class="card section1 panel-group panel">
    <!--Title-->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#" href="#predictions-panel">
                <span class="black-font">Select starts/stops</span>
            </a>
        </h4>
    </div>
    <!--Card content-->
    <div class="card-block panel-collapse collapse in" id="predictions-panel">
        <!--Text-->
        <div id="predictions-info-placeholder"></div>
        <div id="predictions-alerts-placeholder"></div>
        <div id="alignments-alerts"></div>
        <div class="row">
            <div class="col-md-3">
            
                    <div class="btn-group" id="mark-radios" data-toggle="buttons" style="margin-top: 10px">
            <label class="btn btn-success active"><input value="starts-mode" type="radio" autocomplete="off" checked>Mark starts</label>
            <label class="btn btn-danger"><input value="stops-mode" type="radio" autocomplete="off">Mark stops</label>
        </div>
        <button type="button" class="btn btn-info" onclick="reset_aa()" autocomplete="off" style="margin-top: 17px">Reset</button>
            
            </div>
            <div class="col-md-9">
            
                    <div style="display: inline;" class="card card-block pull-right alignment-options">
            <h5 class="card-title" style="display: inline;">Realign</h5>
            &nbsp;
            &nbsp;
            <label class="label-poly-check" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"2000", "hide":"0"}' title="Ortholog 1 to 1 (as operationally defined by ENSEMBL Gene Tree):<br><br>
            A single gene exists in the query species, and it maps to a single, direct orthologue in the target species.<br><br>
            &nbsp;&nbsp;__ Query (Homo sapiens)<br>
            _|<br>
            &nbsp;&nbsp;|__ Target (Mus musculus)<br><br>
            For more information see<br>
            http://www.ensembl.org/info/genome/compara/homology_method.html"><input type="checkbox" class="alignment-check" id="ortho-one2one" checked> 1 to 1 orthologs</label>
            <label class="label-poly-check" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"2000", "hide":"0"}' title="Ortholog 1 to many (as operationally defined by ENSEMBL Gene Tree):<br><br>
            A single gene exists in the query species, and it maps to two or more direct orthologues in the target species.<br><br>
&nbsp;&nbsp;&nbsp;___ Query   (Homo sapiens)<br>
_|<br>
&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;_ Target  (Mus musculus)<br>
&nbsp;&nbsp;|_|<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|_ Target' (Mus Musculus)<br><br>
For more information see<br>
http://www.ensembl.org/info/genome/compara/homology_method.html"><input type="checkbox" class="alignment-check" id="ortho-many2many"> many to many orthologs</label>
            <label class="label-poly-check" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"2000", "hide":"0"}' title="Ortholog many to many (as operationally defined by ENSEMBL Gene Tree):<br><br>
Two or more orthologs of the query sequence exist in both the query species and the target species.<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_ Query    (Homo sapiens)<br>
&nbsp;&nbsp;&nbsp;_|<br>
&nbsp;&nbsp;|&nbsp;&nbsp;|_ Query'   (Homo sapiens)<br>
_|<br>
&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;_ Target   (Mus musculus)<br>
&nbsp;&nbsp;|_|<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|_ Target'  (Mus musculus)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|_ Target'' (Mus musculus)<br><br>
For more information see<br>
http://www.ensembl.org/info/genome/compara/homology_method.html"><input type="checkbox" class="alignment-check" id="ortho-one2many" checked> 1 to many orthologs</label>
            <label class="label-poly-check" data-toggle="tooltip" data-placement="bottom" data-delay='{"show":"2000", "hide":"0"}' title="Shows only sequences from the following species (if present):<br><br>
Homo sapiens              (You),<br>
Mus musculus              (Mouse),<br>
Sarcophilus harrisii      (Tasmanian devil)<br>
Gallus gallus             (Chicken),<br>
Meleagris gallopavo       (Turkey)<br>
Anolis carolinensis       (Carolina anole lizard)<br>
Xenopus laevis            (African clawed frog),<br>
Danio rerio               (Zebrafish),<br>
Oryzias latipes           (Medaka fish),<br>
Saccharomyces cerevisiae  (Baker's yeast),<br>
Caenorhabditis elegans    (Roundworm),<br>
Drosophila melanogaster   (Fruit fly)"><input type="checkbox" class="alignment-check" id="model-organisms" checked> model organisms only</label>
            <!-- Paralogs checkbox and label were hidden because they are confusing to users. They still exist in the background to avoid breaking front-end & backend, and for future use.-->
            <label class="label-poly-check" data-toggle="tooltip" data-placement="bottom" title="" style="display: none"><input type="checkbox" class="alignment-check" id="paralog-species"> paralogs</label>
            <label> (<a href="http://www.ensembl.org/info/genome/compara/homology_method.html" target="_blank"><b>?</b></a>) </label>
            <button type="button" onclick="realign();" autocomplete="off">Realign</button>
            <button type="button" onclick="reset_malignment()" autocomplete="off">Show all</button>
        </div>
        
        
        <div style="display: inline;" class="card card-block pull-right alignment-options">
            <h5 class="card-title" style="display: inline;">Alignment</h5>
            &nbsp;
            &nbsp;
            <label class="label-poly-check" style="display: inline;"><input type="checkbox" onclick="toggle_alignment()" id="alignment-toggler" checked> Show</label>
            <label class="label-poly-check" style="display: inline;"><input type="checkbox" onclick="toggle_color()" id="color-toggler" checked>
                <a href="http://www.jalview.org/help/html/colourSchemes/clustal.html" target="_blank" data-toggle="tooltip" title="click to view colorscheme">Color</a>
            </label>
            <input style="display: inline" type="button" value="Save as fasta" onclick="save_alignment()">
        </div>
            
            
            </div>
        </div>

        <table class="pred-panel" id="alignment-panel">
            <tr>
                <td style="width: 190px;"><div data-scroll-speed="0.1" class="pred-labels" id="evolutionator-labels" style="max-height: 250px; overflow-y: hidden;"></div></td>
                <td><div data-scroll-speed="0.1" class="pred-viewer" id="evolutionator-viewer" style="max-height: 250px;"></div></td>
            </tr>
        </table>
        <br>
        <table class="pred-panel">
            <tr>
                <td style="width: 190px;"><div class="pred-labels" id="aa-label"></div></td>
                <td><div class="pred-viewer" id="aa-viewer"></div></td>
            </tr>
        </table>
        <table class="pred-panel">
            <tr>
                <td style="width: 190px;"><div class="pred-labels" id="sequences-labels" data-placement="right"></div></td>
                <!--                           data-toggle="tooltip" title="Visit Credits page for more information on the prediction servers."> -->
                <td><div class="pred-viewer" id="sequences-viewer"></div></td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-12">
                <div style="float:right">
                    <input id="predictions-filename" type="text" autocomplete="off" placeholder="ccd_predictions" style="display: inline; width: 115px;">.csv
                    <input style="display: inline" type="button" value="Save" onclick="save_predictions()">
                </div>        
            </div>
        </div>
    </div>
    <!--/.Card content-->
</div>
<!--/.Card-->


<!--Card-->
<div class="card section1 panel-group panel">
    <!--Title-->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#" href="#primers-panel">
                <span class="black-font">Design primers</span>
            </a>
        </h4>
    </div>
    <!--Card content-->
    <div class="card-block panel-collapse collapse in" id="primers-panel">
        <!--Text-->
        <div id="methods-overhangs-alerts-placeholder"></div>
        <div id="methods-fw-overhang-warnings-placeholder"></div>
        <div id="methods-rv-overhang-warnings-placeholder"></div>
        <div class="row">
            <div class="col-md-4" id="overhangs-design">
            <h5 class="card-title">Choose cloning method</h5>
                <div class="radio" style="overflow: hidden; display: inline">
                    <label>
                       <input onclick="enable_lic()" id="or1" type="radio" name="overhangs-radio" checked="true" autocomplete="off">
                       LIC vectors
                    </label>
                </div>
                <div class="radio" style="overflow: hidden; display: inline">
                    <label>
                       <input onclick="enable_rc()" id="or2" type="radio" name="overhangs-radio" autocomplete="off">
                       Restriction cloning
                    </label>
                </div>
                <div class="radio" style="overflow:hidden; display: inline">                    
                    <label>
                        <input onclick="enable_custom()" id="or3" type="radio" name="overhangs-radio" autocomplete="off">
                        Custom
                    </label>
                </div>
                <fieldset id="lic">
                   <br>
                   <h6 style="text-decoration: underline">Choose LIC vector for primer design</h6>
                   <select class="browser-default" id="vectors-list" onchange="vectors_update()"></select>
				   <span style="white-space: nowrap;">Matching vectors&nbsp;&nbsp;</span>
				   <label class="label-poly-check"><input type="checkbox" onclick="toggle_vectors();" id="vectors-toggler"> Show</label>
                   <div id="matching-vectors" style="display:none; overflow:auto; white-space:nowrap;"></div>
                </fieldset>
                <fieldset id="rc" style="display: none">
                            <br>
                            <!--FW overhang row-->
                            <div class="row">
                                <div class="overhang">5'-FW overhang-3'</div>
                                 <!--First column-->
                                 <div class="col-md-3">
                                     <div class="md-form">
                                         <span style="font-size:15px">filler</span>
                                         <input type="text" id="filler-fw-overhang" onkeyup="restr_update_fwfiller()">
                                    </div>
                                </div>
                                <!--Second column-->
                                <div class="col-md-5" style="text-align: center;">
                                    <div class="restriction-names">restriction site</div>
                                    <select class="browser-default" id="restr-fw-overhang" onchange="restr_update_fw()"></select>
                                    <input style="display:none;" type="text" id="fwcustom-restr-site" onkeyup="restr_update_fwcustom()">
                                </div>
                                <!--Third column-->
                                <div class="col-md-4" style="text-align: center;">
                                    <div class="restriction-names">start codon</div>
                                    <select class="browser-default" id="scodon-fw-overhang" onchange="restr_update_start_codon()">
                                        <option value="atg">ATG</option>
                                        <option value="">none</option>
                                    </select>
                                </div>
                            </div>
                            <!--/.FW overhang row-->
                            <!--RV overhang row-->
                            <div class="row">
                                <div class="overhang">5'-RV overhang-3'</div>
                                    <!--First column-->
                                    <div class="col-md-3">
                                        <div class="md-form">
                                            <span style="font-size:15px">filler</span>
                                            <input type="text" id="filler-rv-overhang" onkeyup="restr_update_rvfiller()">
                                        </div>
                                    </div>
                                    <!--Second column-->
                                    <div class="col-md-5" style="text-align: center;">
                                        <div class="restriction-names">restriction site</div>
                                        <select class="browser-default" id="restr-rv-overhang" onchange="restr_update_rv()"></select>
                                        <input style="display:none;" type="text" id="rvcustom-restr-site" onkeyup="restr_update_rvcustom()">
                                    </div>
                                    <!--Third column-->
                                    <div class="col-md-4" style="text-align: center;">
                                        <div class="restriction-names">stop codon</div>
                                        <select class="browser-default" id="scodon-rv-overhang" onchange="restr_update_stop_codon()">
                                            <option value="tta">TAA (TTA)</option>
                                            <option value="tca">TGA (TCA)</option>
                                            <option value="cta">TAG (CTA)</option>
                                            <option value="">none</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/.RV overhang row-->
                </fieldset>
                <fieldset id="custom" style="display: none">
                    <br>
                    <span style="font-size:15px">5'-FW overhang-3'</span>
                    <input type="text" id="custom-fw-overhang" value="cagggacccggt" onkeyup="custom_update()">
                    <br>
                    <br>
                    <span style="font-size:15px">5'-RV overhang-3'</span>
                    <input type="text" id="custom-rv-overhang" value="cgaggagaagcccggtta" onkeyup="custom_update()">
                </fieldset>
            </div>
            <div class="col-md-5">
				<!--Panel-->
				<div class="card card-block" style="overflow: auto;">
				    <h5 class="card-title">Overhangs</h5>
				    <div id="overhangs-panel" style="display: inline-block; overflow: auto; white-space: normal;">
					    <label>5'-FW overhang-3'</label><br>
					    <span id="fw-overhang" style="display: inline-block; width: 200px"></span><span id="fw-overhang-alerts"></span><br><br>
					    <label>5'-RV overhang-3'</label><br>
					    <span id="rv-overhang" style="display: inline-block; width: 200px"></span><span id="rv-overhang-alerts"></span>
				    </div>
				</div>
				<!--/.Panel-->
            </div>
            <div class="col-md-3">
				<!--Panel-->
				<div class="card card-block" style="overflow: hidden;">
				    <h5 class="card-title">Annealing</h5>
	                <div class="radio" style="display: inline; white-space:nowrap;">	                
	                    <label>
                        <input id="annealing_temperature_radio" type="radio" name="method_radio" checked="true">
	                        Melting Temp.(TM)&nbsp;&nbsp;
	                    </label>
	                </div>
                    <input type="number" id="annealing_temperature_holder" class="form-control" value="65" style="display: inline; width:50px;">
                    <br>
	                <div class="radio" style="display: inline; white-space:nowrap;">
	                    <label>
	                        <input id="base_length_radio" type="radio" name="method_radio">
	                        Bases length&nbsp;&nbsp;
	                    </label>
	                </div>
                    <input type="number" id="base_length_holder" class="form-control" value="20" style="display: inline; width:50px;">
				</div>
				<!--/.Panel-->
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="get_primers_peptides()">Get Primers</button>
        (with
        <input id="pp-name" type="text" autocomplete="off" placeholder="prefix" style="display: inline; width: 100px;">
        )
    </div>
    <!--/.Card content-->
</div>
<!--/.Card-->


<!--Card-->
<div class="card section2 panel-group panel">
    <!--Title-->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#" href="#primers-sheet">
                <span class="black-font">Primers</span>
            </a>
        </h4>
    </div>
    <!--Card content-->
    <div class="card-block panel-collapse collapse in" id="primers-sheet">
        Tip: You can copy-paste primers in spreadsheets.
        <!--Text-->
        <div id="primers-alerts-placeholder"></div>
        <div class="row-fluid primers-panel">
                <table id="primers-viewer" class="primers-table"></table>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="float:right">
                    <input id="primers-filename" type="text" autocomplete="off" placeholder="ccd_primers" style="display: inline; width: 90px;">.csv
                    <input style="display: inline" type="button" value="Save" onclick="save_primers()">
                </div>        
            </div>
        </div>
    </div>
    <!--/.Card content-->
</div>
<!--/.Card-->


<!--Card-->
<div class="card section2 panel-group panel">
    <!--Title-->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#" href="#maps-panel">
                <span class="black-font">Plasmid maps (LIC vectors only)</span>
            </a>
        </h4>
    </div>
    <!--Card content-->
    <div class="card-block panel-collapse collapse" id="maps-panel">
        <!--Text-->
        <div class="row">
            <div class="col-md-6">
                Choose polypeptides
                <table>
                    <tr>
                        <td>
                            <label class="label-poly-check"><input type="checkbox" id="poly-check-select-pm" onclick="selectallnone_pm()">Select all/none</label><br>
                            <fieldset style="font-weight: normal; font-family: serif;font-size: 17px;overflow: auto;" id="polypeptides-list"></fieldset>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                Clone in vector <select class="browser-default" id="separated-vectors-list-pm" onchange="sync_vector_pm();"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div style="float:right">
                    <input id="pm-filename" type="text" autocomplete="off" placeholder="ccd_plasmid_maps" style="display: inline; width: 140px;">.zip
                    <input style="display: inline" type="button" value="Save" onclick="save_plasmid_maps()">
                </div>
            </div>
        </div>
    </div>
    <!--/.Card content-->
</div>
<!--/.Card-->


<!--Card-->
<div class="card section2 panel-group panel">
    <!--Title-->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#" href="#polypeptides-panel">
                <span class="black-font">Polypeptides</span>
            </a>
        </h4>
    </div>
    <!--Card content-->
    <div class="card-block panel-collapse collapse in" id="polypeptides-panel">
        <label class="label-poly-check"><input type="checkbox" id="poly-check-select-pp" onclick="selectallnone_pp()">Select all/none</label><br>
        <label style="display: inline;">
            <input type="checkbox" id="poly-align-toggle" onclick="poly_update()">
            Align polypeptide sequences
        </label>
        <div id="polypeptides-alerts"></div>
        <!--Text-->
        <table class="poly-panel">
            <tr>
                <th class="poly-labels"></th>
                <th class="polysm-3 bold">MW</th>
                <th class="polysm-3 bold">pI</th>
                <th class="polysm-3 bold">ε</th>
            </tr>
            <tr>
                <td class="poly-labels" id="polypeptides-labels"></td>
                <td class="poly-3" id="MWs-viewer"></td>
                <td class="poly-3" id="pIs-viewer"></td>
                <td class="poly-3" id="epsilons-viewer"></td>
                <td><div class="poly-viewer" id="polypeptides-viewer"></div></td>
            </tr>
        </table>
        <button type="button" id="poly-tagged-toggle" class="btn btn-primary" aria-pressed="false" autocomplete="off" onclick="poly_tag()">Show tagged constructs</button>
        <button type="button" id="poly-cleaved-toggle" class="btn btn-primary" aria-pressed="false" autocomplete="off" onclick="poly_cleave()">Show cleaved constructs</button>
        for vector
        <select class="browser-default" id="separated-vectors-list-pp" onchange="sync_vector_pp();"></select>
        <div id="tag-info" class="tag"></div>
        <div id="tag-panel" class="tag"></div>
        <div id="cleave-info" class="cleave"></div>
        <div id="cleave-panel" class="cleave"></div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary" onclick="get_crysol()">Get Solubility and Crystallisation Predictions</button>
                <div style="float:right">
                    <input id="polypeptides-filename" type="text" autocomplete="off" placeholder="ccd_polypeptides" style="display: inline; width: 125px;">.csv
                    <input style="display: inline" type="button" value="Save" onclick="save_polypeptides()">
                </div> 
            </div>
        </div>
    </div>
    <!--/.Card content-->
</div>
<!--/.Card-->


<!--Card-->
<div class="card section3 panel-group panel">
    <!--Title-->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#" href="#crysol-panel">
                <span class="black-font">Solubility and Crystallisation Predictions</span>
            </a>
        </h4>
    </div>
    <!--Card content-->
    <div class="card-block panel-collapse collapse in" id="crysol-panel">
        <!--Text-->
        <div class="alert alert-info"><a class="close" data-dismiss="alert">×</a><span><strong>Tips:</strong> 1) Place the cursor over a prediction name, to get a description. 2) Click on the arrow symbol to sort constructs based on the prediction. 3) Visit <a href="{{ url_for('credits') }}">Credits</a> for more information on the servers.</span></div>
        <div id="crysol-info"></div>
        <div id="crysol-errors"></div>
        <h6 class="card-title pp-crysol" id="raw-crysol-title"></h6>
        <table class="poly-panel pp-crysol">
            <tr>
                <th class="poly-labels"></th>
                <th class="crysollb-6 bold"><span data-toggle="tooltip" title="What is the chance from 0 to 100 that my construct will be soluble?">RPSP</span><a onclick="CCD.crysol_raw_sort_switch = 'RPSP'; sort_draw_crysol(' (raw)');">▼</a></th>
                <th class="crysollb-6 bold"><span data-toggle="tooltip" title="Which of my constructs have the best chances, from 0 to 1, to be soluble upon heterologous expression?">PROSOII</span><a onclick="CCD.crysol_raw_sort_switch = 'PROSOII'; sort_draw_crysol(' (raw)');">▼</a></th>
                <th class="crysollb-6 bold"><span data-toggle="tooltip" title="What is the chance from 0 to 1 that my soluble construct will crystallize?">SECRET</span><a onclick="CCD.crysol_raw_sort_switch = 'SECRET'; sort_draw_crysol(' (raw)');">▼</a></th>
            </tr>
            <tr>
                <td class="poly-labels" id="crysol-pp"></td>
                <td class="crysolvw-6" id="pp-rpsp-viewer"></td>
                <td class="crysolvw-6" id="pp-proso2-viewer"></td>
                <td class="crysolvw-6" id="pp-secret-viewer"></td>
                <td><div class="poly-viewer"></div></td>
            </tr>
        </table>
              
        <br class="tag-crysol">
        <h6 class="card-title tag-crysol" id="tagged-crysol-title"></h6>
        
        <table class="poly-panel tag-crysol">
            <tr>
                <th class="poly-labels"></th>
                <th class="crysollb-6 bold"><span data-toggle="tooltip" title="What is the chance from 0 to 100 that my construct will be soluble?">RPSP</span><a onclick="CCD.crysol_tagged_sort_switch = 'RPSP'; sort_draw_crysol(' (tagged)');">▼</a></th>
                <th class="crysollb-6 bold"><span data-toggle="tooltip" title="Which of my constructs have the best chances, from 0 to 1, to be soluble upon heterologous expression?">PROSOII</span><a onclick="CCD.crysol_tagged_sort_switch = 'PROSOII'; sort_draw_crysol(' (tagged)');">▼</a></th>
                <th class="crysollb-6 bold"><span data-toggle="tooltip" title="What is the chance from 0 to 1 that my soluble construct will crystallize?">SECRET</span><a onclick="CCD.crysol_tagged_sort_switch = 'SECRET'; sort_draw_crysol(' (tagged)');">▼</a></th>
            </tr>
            <tr>
                <td class="poly-labels" id="crysol-tagged"></td>
                <td class="crysolvw-6" id="tagged-rpsp-viewer"></td>
                <td class="crysolvw-6" id="tagged-proso2-viewer"></td>
                <td class="crysolvw-6" id="tagged-secret-viewer"></td>
                <td><div class="poly-viewer"></div></td>
            </tr>
        </table>
       
        <br class="cleave-crysol">
        <h6 class="card-title cleave-crysol" id="cleaved-crysol-title" style="display: inline"></h6>
        <table class="poly-panel cleave-crysol">
            <tr>
                <th class="poly-labels"></th>
                <th class="crysollb-6 bold"><span data-toggle="tooltip" title="What is the chance from 0 to 100 that my construct will be soluble?">RPSP</span><a onclick="CCD.crysol_cleaved_sort_switch = 'RPSP'; sort_draw_crysol(' (cleaved)');">▼</a></th>
                <th class="crysollb-6 bold"><span data-toggle="tooltip" title="Which of my constructs have the best chances, from 0 to 1, to be soluble upon heterologous expression?">PROSOII</span><a onclick="CCD.crysol_cleaved_sort_switch = 'PROSOII'; sort_draw_crysol(' (cleaved)');">▼</a></th>
                <th class="crysollb-6 bold"><span data-toggle="tooltip" title="What is the chance from 0 to 1 that my soluble construct will crystallize?">SECRET</span><a onclick="CCD.crysol_cleaved_sort_switch = 'SECRET'; sort_draw_crysol(' (cleaved)');">▼</a></th>
            </tr>
            <tr>
                <td class="poly-labels" id="crysol-cleaved"></td>
                <td class="crysolvw-6" id="cleaved-rpsp-viewer"></td>
                <td class="crysolvw-6" id="cleaved-proso2-viewer"></td>
                <td class="crysolvw-6" id="cleaved-secret-viewer"></td>
                <td><div class="poly-viewer"></div></td>
            </tr>
        </table>
        <div class="row" id="crysol-save">
            <div class="col-md-12">
                <div style="float:right">
                    <input id="crysol-filename" type="text" autocomplete="off" placeholder="ccd_crysol" style="display: inline; width: 80px;">.csv
                    <input style="display: inline" type="button" value="Save" onclick="save_crysol()">
                </div>        
            </div>
        </div>
    </div>
    <!--/.Card content-->
</div>
<!--/.Card-->

{% endblock %}