# Settings for ccd version 2.0

# executable locations
IUPRED = '/path/to/iupred'
NCOILS = '/usr/bin/ncoils'
PREDATOR = '/path/to/predator'
MUSCLE = '/path/to/muscle'
BLAST= 'path/to/ncbi/blastp'

# network details 
SECRET_KEY = "dummy secret key"
EMAIL = 'Your email'
